/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;600;700&display=swap');

/* colors */
/* #0A3641 - green */
/* #fff - white */
/* #C17E27 -orange */

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 height: 100vh;
}

h1,
nav,
main,
.circle-small, 
a {
  font-family: 'Palanquin', sans-serif;
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 10px;
}

/* header | home page */
header {
  background-image: url('../images/texture_rain_475x317.jpeg');
  max-width: 100%;
}

header {
  position: relative;
}

header .container {
  padding: 10px;
}

header .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,95%, 0.8);
}

header img {
  max-width: 120px;
  position: relative;
  z-index: 2;
}

/* nav | home page */
nav {
  background-color: #0A3641;
  font-size: 0.9rem;
  width: 100%;
}

.main-nav__container {
  display: flex;
  align-items: center;
}

.main-nav__container > * {
  display: flex;
  align-items: center;
}

.main-nav__list li {
  list-style: none;
}

#hamburger-menu,
.main-nav__list,
.login-container img {
  display: none;
} 

#hamburger-menu:checked ~ .main-nav__list {
  display: block;
}

.main-nav__list {
  background-color: #0A3641;
  position: fixed;
  top: 175px;
  left: 0;
  z-index: 9;
  flex: 1;
  text-transform: uppercase;
  text-align: left;
}

.main-nav__list li {
  border-bottom: 1px solid #fff;
}

.main-nav__list a {
  color: #fff;
  padding: 10px 20px;
}

.main-nav__list .active {
  color: #C17E27;
}

.main-nav label {
  order: 0;
  flex: 1;
  justify-content: center;
  color: #fff;
}

.search-container {
  order: 1;
  flex: 2;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.search-container input::placeholder {
  color: #0A3641;
}

.search-container input {
  width: 75%;  
  margin-left: 10px;
}

.search-container input,
.search-container button,
.search-container button i,
.login-container button {
  border: none;
  background-color: #fff;
  color:  #0A3641;
}

.login-container button {
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 70px;
}

.login-container {
  order: 2;
  flex: 1;
  margin: 0 10px;
  justify-content: center;
}

.shopping-cart {
  order: 3;
  flex: 1;
  color: #fff;
}


/* main | home page */
main {
  background-image: url('../images/raindays-home.jpg');
  width: 100%;
  height: 75vh;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

main::after {
  content: "";
  display: block;
  width: 100%;
  height: 40vh;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: hsla(0,0%,100%,0.7);
}

.home-page h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #0A3641;
  position: relative;
  top: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  line-height: 120%;
}

.home-page h1 span {
  font-weight: normal;
  display: none;
}

.circle {
  border-radius: 50%;
  z-index: 1;
  border-width: 25px;
  border-style: solid;
  width: 100%;
  height: 100%;
  box-shadow: 5px 10px 6px rgba(0, 0, 0, .2);
}

.circle-big {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  border-color: hsla(0,0%,100%,0.9);
}

.circle-midle {
  border-color: #0A3641;
}

.circle-small {
  background-color: #C17E27;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 105%;
  color: #0A3641;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, .8);
}


/* footer | home page */
footer {
  width: 100%;
  background-color: #0A3641;
}

.wrapper-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media i {
  color: #fff;
  margin: 0 10px;
  font-size: 1.8rem;
}


/* media queries | home page */
@media (min-width: 600px) {
  header img {
    max-width: 160px;
  }

  nav {
    font-size: 0.8rem;
  }

  .main-nav label {
    display: none;
  }

  .main-nav .main-nav__list {
    position: static;
    display: flex;
    justify-content: space-evenly;
    flex: 4;
    order: 1;
  }

  .main-nav__list li {
    border-bottom: none;
  }

  .main-nav__list a {
    padding: 0;
  }
  
  .home-page h1 {
    display: block;
    line-height: 140%;
  }

  .circle-big {
    width: 250px;
    height: 250px;
  }

  .circle-small {
    font-size: 2em;
  }
}

@media (min-width: 700px) {
  .home-page h1 {
    font-size: 4rem;
  }
}

@media (min-width: 800px) {
  header img {
    max-width: 200px;
  }

  nav {
    font-size: 1rem;
  }

  .login-container {
    margin: 0 40px;
  }

  .login-container img {
    display: block;
    width: 20px;
    border-radius: 5px;
    margin-left: 10px;
  }

  .circle {
    border-width: 30px;
  }

  .circle-big {
    width: 290px;
    height: 290px;
  }

  .circle-small {
    font-size: 2.2em;
  }
}

@media (min-width: 900px) {
  main {
    height: 80vh;
  }

  .home-page h1 span {
    margin: 0 10px;
    display: inline;
  }

  .circle {
    border-width: 40px;
  }

  .circle-big {
    top: 65%;
    width: 350px;
    height: 350px;
  }

  .circle-small {
    font-size: 2.5em;
  }
}






