/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;600;700&display=swap');

/* colors */
/* #0A3641 - green */
/* #fff - white */
/* #C17E27 -orange */

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-width: 1200px; */
  height: 100vh;
  margin: auto;
}

h1,
h2,
h3,
p,
nav,
.welcome,
.circle-small, 
a {
  font-family: 'Palanquin', sans-serif;
  text-decoration: none;
}

a {
  display: inline-block;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 10px;
}

.btn {
  background-color: #C17E27;
  color: #0A3641;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 20px;
  border: 2px solid #0A3641;
  border-radius: 10px;
  text-align: center;
}

/* header | home page */
header {
  background-image: url('../images/texture_rain_475x317.jpeg');
  max-width: 100%;
  position: relative;
}

header .container {
  padding: 10px;
}

header .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,95%, 0.8);
}

header img {
  max-width: 120px;
  position: relative;
  z-index: 2;
}

/* nav | home page */
nav {
  background-color: #0A3641;
  font-size: 1.5rem;
  width: 100%;
}

.main-nav__container {
  display: flex;
  align-items: center;
}

.main-nav__container > * {
  display: flex;
  align-items: center;
}

.main-nav__list li {
  list-style: none;
}

#hamburger-menu,
.main-nav__list,
.login-container img {
  display: none;
} 

#hamburger-menu:checked ~ .main-nav__list {
  display: block;
}

.main-nav__list {
  background-color: #0A3641;
  position: fixed;
  top: 182px;
  left: 0;
  z-index: 9;
  flex: 1;
  text-transform: uppercase;
  text-align: left;
}

.main-nav__list li {
  border-bottom: 1px solid #fff;
  position: relative;
  top: 0;
  left: 0;
}

.main-nav__list li:nth-last-of-type(1) {
  border-bottom: none;
}

.main-nav__list a {
  color: #fff;
  padding: 10px 20px;
}

a.active,
.shopping-cart-active i {
  color: #C17E27;
}

.main-nav__list .active::after {
  background-color: #C17E27;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  display: none;
}

.main-nav label {
  order: 0;
  flex: 1;
  justify-content: center;
  color: #fff;
  font-size: 1.7rem;
}

.search-container {
  order: 1;
  flex: 2;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.search-container input::placeholder {
  color: #0A3641;
}

.search-container input {
  width: 75%;  
  margin-left: 10px;
}

.search-container input,
.search-container button,
.search-container button i,
.btn_log-in {
  border: none;
  background-color: #fff;
  color:  #0A3641;
  font-size: 1rem;
}

.btn_log-in {
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 80px;
  transition: .2s;
  cursor: pointer;
  font-weight: normal;
}

.login-container .login-active,
.btn_log-in:hover {
  background-color: #C17E27;
  color: #fff;
}


.login-container {
  order: 2;
  flex: 1;
  margin: 0 10px;
  justify-content: center;
}

.shopping-cart {
  order: 3;
  flex: 1;
  color: #fff;
  font-size: 2.0rem;
}

.shopping-cart i {
  transition: .2s;
}

.shopping-cart i:hover {
  color: #C17E27;
}


/* main | home page */
.welcome {
  background-image: url('../images/raindays-home.jpg');
  width: 100%;
  height: 75vh;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.welcome::after {
  content: "";
  display: block;
  width: 100%;
  height: 40vh;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: hsla(0,0%,100%,0.7);
}

.welcome h1,
.page-in-progress h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: #0A3641;
  position: relative;
  top: 15px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  line-height: 120%;
}

.welcome h1 span,
.page-in-progress h1 span {
  font-weight: normal;
  display: none;
}

.circle {
  border-radius: 50%;
  z-index: 1;
  border-width: 25px;
  border-style: solid;
  width: 100%;
  height: 100%;
  box-shadow: 5px 10px 6px rgba(0, 0, 0, .2);
}

.circle-big {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  border-color: hsla(0,0%,100%,0.9);
}

.circle-midle {
  border-color: #0A3641;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, .8);
}

.circle-small {
  background-color: #C17E27;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 105%;
  color: #0A3641;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, .8);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, .8);
  transition: .2s;
  cursor: pointer;
}

.circle-small:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .8);
}


/* products | main | home page */
.products {
  width: 100%;
  background-image: url(../images/rain-products-bcg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}

.products::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: hsla(0,0%,95%,0.9);
}

.products .container > * {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
  color: #0A3641;
}

.products__sub-title,
.sub-title {
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.products-wrapper {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  gap: 10px;
}

.products__product-name {
  font-size: 2rem;
}

.products__sub-title strong {
  display: block;
}

.item__product-name {
  font-size: 1rem;
  text-transform: uppercase;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #0A3641;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, .8);

}

.btn__show-item {
  font-size: 1.2rem;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, .8);
  transition: .2s;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.item__product-price {
  font-weight: 900;
  font-size: 1.4rem;
}

.item__picture {
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.item__picture img {
  object-fit: cover;
  width: 80%;
  height: 100%;
}

.btn__more-items {
  margin-top: 20px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  word-spacing: 6px;
  font-family: 'Palanquin', sans-serif;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, .8);
  transition: .2s;
}

.btn__show-item:hover,
.btn__more-items:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .8);
}

/* info-text | main | home page */
.info-text > * {
  color: #0A3641;
}

.info-text figure {
  display: none;
}

.info-text figure img {
  width: 100%;
  height: 100%;
}

.info-text p {
  font-size: 1.3rem;
  text-align: justify;
}

/* footer | home page */
footer {
  width: 100%;
  background-color: #0A3641;
}

.wrapper-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media i {
  color: #fff;
  margin: 0 10px;
  font-size: 1.8rem;
  transition: .2s;
}


/* page in progres | main */
.page-in-progress a {
  font-size: 1.8em;
  background-color: #C17E27;
  color: #0A3641;
  border: 5px solid #0A3641;
  position: relative;
  z-index: 4;
  padding: 5px 10px;
  top: 40px;
  border-radius: 15px;
  font-weight: 700;
}


/* our jackets | main */
/* about | main */
/* contact | main */
/* login | main */


/* media queries | home page */
@media (min-width: 320px) {
  .welcome h1,
  .page-in-progress h1 {
    font-size: 2.7rem;
  }
}

@media (min-width:400px) {
  .products-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .item__product-name {
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) {

  nav {
    font-size: 0.9rem;
  }

  .main-nav label {
    display: none;
  }

  .main-nav .main-nav__list {
    position: static;
    display: flex;
    justify-content: space-evenly;
    flex: 5;
    order: 1;
  }

  .main-nav__list li {
    border-bottom: none;
  }

  .main-nav__list .active::after {
    display: block;
  }

  .main-nav__list a {
    padding: 0;
    transition: .2s;
  }

  .main-nav__list a:hover {
    color: #C17E27;
  }
  
  .welcome h1,
  .page-in-progress h1 {
    display: block;
    line-height: 140%;
  }

  .circle-big {
    width: 250px;
    height: 250px;
  }

  .circle-small {
    font-size: 2rem;
  }

  .info-text figure {
    display: block;
    width: 200px;
    float: left;
    margin: 20px 20px 0 0;
  }

  .info-text p {
    font-size: 1.6rem;
  }

  .social-media i {
    font-size: 2.6rem;
    margin: 0 16px;
  }
}

@media (min-width: 700px) {
  nav {
    font-size: 1rem;
  }

  .welcome h1,
  .page-in-progress h1 {
    font-size: 4rem;
  }

  .circle {
    border-width: 40px;
  }

  .circle-big {
    width: 350px;
    height: 350px;
  }

  .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item:nth-of-type(4) {
    display: none;
  }

}

@media (min-width: 800px) {
  header img {
    max-width: 200px;
  }

  nav {
    font-size: 1.2rem;
  }

  .login-container {
    margin: 0 40px;
  }

  .login-container img {
    display: block;
    width: 20px;
    border-radius: 5px;
    margin-left: 10px;
  }

  .circle {
    border-width: 30px;
  }

  .circle-big {
    width: 290px;
    height: 290px;
  }

  .circle-small {
    font-size: 2.2rem;
  }

  .social-media i:hover {
    color: #C17E27;
    transform: scale(1.2);
  }
}

@media (min-width: 1000px) {
  .welcome {
    height: 80vh;
  }

  .welcome h1 span,
  .page-in-progress h1 span {
    margin: 0 10px;
    display: inline;
  }

  .circle {
    border-width: 40px;
  }

  .circle-big {
    top: 65%;
    width: 350px;
    height: 350px;
  }

  .circle-small {
    font-size: 2.5rem;
  }

  .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .item:nth-of-type(4) {
    display: flex;
  }
}

@media (min-width: 1000px) and (orientation: portrait) {
  .welcome h1,
  .page-in-progress h1 {
    font-size: 6rem;
  }

  .circle-big {
    width: 400px;
    height: 400px;
  }
}  






