/* our jackets */
.splash {
  background-image: url('../../images/bcg-drops.svg');
  position: relative;
}

.splash::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.9);
  z-index: 1;
}

.splash .container>* {
  color: var(--primary-color);
  position: relative;
  z-index: 2;
}

.all-kind-jackets .top-title {
  margin-bottom: 15px;
}

.choose-jacket__products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.choose-jacket__item {
  display: grid;
  cursor: pointer;
  color: var(--secondary-color);
  border: 2px solid;
  border-radius: 25px;
  background-color: var(--primary-color);
  padding: 7px;
}

.choose-jacket__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
  min-height: 50px;
}

.choose-jacket__menu li a {
  color: var(--primary-color);
  font-size: 0.9rem;
}

.choose-jacket__menu-active {
  border-bottom: 1px solid;
  font-weight: 700;
  font-size: 0.8rem;
}

.choose-jacket__menu li:nth-of-type(1) {
  display: flex;
}

.choose-jacket__menu li:nth-of-type(2),
.choose-jacket__menu li:nth-of-type(3) {
  display: none;
}

.choose-jacket .item {
  box-shadow: none;
}

.choose-jacket__menu .menu-arrow {
  width: 40px;
  margin: 5px 5px;
  height: auto;
}

.choose-jacket__item img {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
}

.choose-jacket__name {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
}

.sub-title span {
  display: block;
}