<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rainy Days | Choose Jacket</title>
  <script src="https://kit.fontawesome.com/136bcbc643.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <header>
    <div class="container">
      <a href="../layout/index.html"><img src="images/logo.png" alt="Logo of Rainy Days company"></a>
    </div>
  </header>

  <nav class="main-nav">
    <div class="container main-nav__container">
      <div class="search-container">
        <button type="button"><i class="fas fa-search"></i></button>
        <input type="text" placeholder="Search...">
      </div>
      <label for="hamburger-menu"><i class="fas fa-bars"></i></label>
      <input type="checkbox" id="hamburger-menu">
      <ul class="main-nav__list">
        <li><a href="../layout/index.html">Home</a></li>
        <li><a href="../layout/our-jackets.html">Our Jackets</a></li>
        <li><a href="../layout/about.html">About</a></li>
        <li><a href="../layout/contact.html">Contact</a></li>
      </ul>
      <form class="login-container">
        <button class="btn btn_log-in" type="button">Log in</button>
        <a href="../layout/log-in.html"><img src="images/login.svg" alt="Login alternative. Press to log in"></a>
      </form>
      <a href="../layout/cart.html" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </nav>

  <main class="choose-jacket page-in-progress">
    <section class="welcome">
      <div class="container">
        <h1><span>x</span>Choose Jacket in progress<span>x</span></h1>
        <a href="../layout/index.html">Back to Home Page</a>
      </div>
    </section>
  </main>

  <footer>
    <div class="container">
      <div class="wrapper-social-media">
        <a href="#" class="social-media youtube"><i class="fab fa-youtube"></i></a>
        <a href="#" class="social-media instagram"><i class=" fab fa-instagram"></i></a>
        <a href="#" class="social-media facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-media messenger"><i class=" fab fa-facebook-messenger"></i></a>
        <a href="#" class="social-media twitter"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>

  <script src="../script.js"></script>
</body>

</html>