<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Online shop with the best waterproff jackets for people they like outside activities.">
  <title>Rainy Days | Home Page</title>
  <script src="https://kit.fontawesome.com/136bcbc643.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <header>
    <div class="container">
      <a href="../layout/index.html"><img src="../images/logo.png" alt="Logo of Rain Jacket company"></a>
    </div>
  </header>

  <nav class="main-nav">
    <div class="container main-nav__container">
      <div class="search-container">
        <button type="button"><i class="fas fa-search"></i></button>
        <input type="text" placeholder="Search...">
      </div>
      <label for="hamburger-menu"><i class="fas fa-bars"></i></label>
      <input type="checkbox" id="hamburger-menu">
      <ul class="main-nav__list">
        <li class="active"><a class="active" href="#">Home</a></li>
        <li><a href="../layout/our-jackets.html">Our Jackets</a></li>
        <li><a href="../layout/about.html">About</a></li>
        <li><a href="../layout/contact.html">Contact</a></li>
      </ul>
      <form class="login-container">
        <button class="btn btn_log-in" type="button">Log in</button>
        <a href="../layout/log-in.html"><img src="../images/login.svg" alt="Login alternative. Press to log in"></a>
      </form>
      <a href="../layout/cart.html" class="shopping-cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </nav>

  <main class="home-page">

    <section class="welcome">
      <div class="container">
        <h1 class="main-title"><span>x</span>Pushing the Comfort Zone<span>x</span></h1>
        <div class="circle circle-big">
          <div class="circle circle-midle">
            <a href="../layout/choose-jacket.html" class="circle circle-small">Choose Jacket</a>
          </div>
        </div>
      </div>
    </section>
    <section class="info-text">
      <div class="container">
        <h2 class="sub-title">The best waterproff clothes in this part of globe!</h2>
        <figure>
          <img src="../images/logo.png" alt="Logo of company">
        </figure>
        <p>You are on the website of online shop which one is selling jackets for men and women aged 30 to 50 whose
          interests are: being outdoors, hiking, exploring, skiing, camping, canoeing. The jackets are mid-range in
          price
          and emphasize durability and being suitable for a range of different weather types ensuring customers are
          comfortable whatever adventure they go on.</p>
      </div>
    </section>

    <section class="products">
      <div class="container">
        <h2 class="products__sub-title sub-title">Our The Most Popular <strong>Jackets & Rain Coats:</strong></h2>
        <div class="products-wrapper">

          <div class="item hide show">
            <div class="item__picture">
              <img src="../images/jackets/woman-jackets/raincut-wtp.png" alt="Picture of woman's jacket Raincut WTP">
            </div>
            <h3 class="item__product-name">Raincut Wtp</h3>
            <p class="item__product-price">999 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide show">
            <div class="item__picture">
              <img src="../images/jackets/woman-jackets/sailing-5000.png" alt="Picture of woman's jacket Sailing 5000">
            </div>
            <h3 class="item__product-name">Sailing 5000</h3>
            <p class="item__product-price">1099 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide show">
            <div class="item__picture">
              <img src="../images/jackets/woman-jackets/mh-9000.png" alt="Picture of woman's jacket Mh 9000">
            </div>
            <h3 class="item__product-name">Raincut Wtp</h3>
            <p class="item__product-price">799 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide show">
            <div class="item__picture">
              <img src="../images/jackets/men-jackets/offshore-900.png" alt="Picture of man's jacket Offshore 900">
            </div>
            <h3 class="item__product-name">Offshore 900</h3>
            <p class="item__product-price">999 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide">
            <div class="item__picture">
              <img src="../images/jackets/men-jackets/nh-100-raincut.png" alt="Picture of man's jacket Nh 100 Raincut">
            </div>
            <h3 class="item__product-name">Nh 100 Raincut</h3>
            <p class="item__product-price">799 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide">
            <div class="item__picture">
              <img src="../images/jackets/men-jackets/tour-jacket-outline.png"
                alt="Picture of man's jacket Tour Jacket Outlne">
            </div>
            <h3 class="item__product-name">Tour Outline</h3>
            <p class="item__product-price">1099 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide">
            <div class="item__picture">
              <img src="../images/jackets/raincoats/raincoat-forza.png" alt="Picture of Raincoat Forza">
            </div>
            <h3 class="item__product-name">Raincoat Forza</h3>
            <p class="item__product-price">599 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide">
            <div class="item__picture">
              <img src="../images/jackets/raincoats/poncho-raincoat.png" alt="Picture of Poncho Raincoat">
            </div>
            <h3 class="item__product-name">Poncho Raincoat</h3>
            <p class="item__product-price">500 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide">
            <div class="item__picture">
              <img src="../images/jackets/raincoats/poncho-orange.png" alt="Picture of Poncho Orange">
            </div>
            <h3 class="item__product-name">Poncho Orange</h3>
            <p class="item__product-price">499 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide">
            <div class="item__picture">
              <img src="../images/jackets/raincoats/raincoat-triban.png" alt="Picture of Raincoat Triban">
            </div>
            <h3 class="item__product-name">Raincoat Triban</h3>
            <p class="item__product-price">749 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide">
            <div class="item__picture">
              <img src="../images/jackets/men-jackets/rain-jacket-FH500.png" alt="Picture of Rain Jacket Fh 500">
            </div>
            <h3 class="item__product-name">Rain Jacket Fh 500</h3>
            <p class="item__product-price">899 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

          <div class="item hide">
            <div class="item__picture">
              <img src="../images/jackets/men-jackets/rain-jacket-quechua.png" alt="Picture of Rain Jacket Quechua">
            </div>
            <h3 class="item__product-name">Rain Jacket Quechua</h3>
            <p class="item__product-price">799 nok</p>
            <a href="" name="Website with jacket NOT READY" class="btn btn__show-item">Show Item</a>
          </div>

        </div>
        <button class="btn btn__more-items"></button>
      </div>
    </section>

  </main>

  <footer>
    <div class="container">
      <div class="wrapper-social-media">
        <a href="#" class="social-media" name="youtube"><i class="fab fa-youtube"></i></a>
        <a href="#" class="social-media" name="instagram"><i class=" fab fa-instagram"></i></a>
        <a href="#" class="social-media" name="facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-media" name="messenger"><i class=" fab fa-facebook-messenger"></i></a>
        <a href="#" class="social-media" name="twitter"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </footer>

  <script src="../script.js"></script>
</body>

</html>