/* header */
header {
  background-image: url('../../images/texture_rain_475x317.jpeg');
  max-width: 100%;
  position: relative;
}

header .container {
  padding: 10px;
}

header .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,95%, 0.8);
}

header img {
  max-width: 120px;
  position: relative;
  z-index: 2;
}