/* media queries | home page & page in progress */
@media (max-width: 279px) {
  .main-nav label {
    font-size: 1.3rem;
  }

  .search-container {
    display: none;
  }

  .social-media i {
    font-size: 0.9rem;
  }

  .cart .top-title,
  .cart tfoot tr {
    font-size: 0.8rem;
  }
}

@media (min-width: 280px) {
  /* cart */
  .cart thead tr,
  .cart tbody tr {
    font-size: 0.8rem; 
  }

  .cart h1,
  .cart tfoot tr td {
    font-size: 1rem;
  }
}

@media (max-width: 319px) {
  .container {
    padding: 30px 5px;
  }
}
@media (min-width: 320px) {
  .item-quantity {
    left: 20px;
  }

  .main-title {
    font-size: 2.7rem;
    line-height: 120%;
  }

  .search-container {
    padding: 5px 10px;
  }

  .search-container input,  
  .search-container i, 
  .btn_log-in {
    font-size: 0.9rem;
  }

  /* jacket-details */
  .jacket-details .item__product-choose-size label,
  .jacket-details .item__product-choose-size input {
    width: 40px;
    height: 40px;
  }

  /* cart */
  .cart thead tr,
  .cart tbody tr {
    font-size: 0.9rem; 
  }

  .payment-method label {
    flex-basis: 80%;
  }
}

@media (min-width: 360px) {
  .btn,
  button[type="submit"] {
  font-size: 1rem;
}
  /* choose jacket */
  .choose-jacket__menu a {
    font-size: 1rem;
  }
}



@media (min-width:400px) {
  .search-container {
    padding: 5px 10px;
  }

  .search-container input, 
  .search-container i, 
  .btn_log-in,
  .btn_sign-up {
    font-size: 1rem;
  }

  .products-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .item__product-name {
    font-size: 0.9rem;
  }

  .choose-jacket__products {
    gap: 100px;
    margin-bottom: 100px;
  }

  /* log-in, sign-up */
  .log-in .circle-big,
  .sign-up .circle-big {
    top: 40%;
  }

/* choose jacket */
.choose-jacket__menu a {
  font-size: 0.9rem;
}

  /* jacket details */
  .choose-jacket__menu-active a {
    font-size: 1.1rem;
  }

  .jacket-details .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  .jacket-details .item__picture {
    grid-row: 1/3;
    height: 250px;
    align-self: center;
  }

  .jacket-details .item__product-description > * {
    text-align: left;
  }

  .jacket-details .item__product-name,
  .jacket-details .item__product-price {
    font-size: 1.4rem;
  }

  .jacket-details .item__product-choose-size {
    justify-content: flex-start; 
  }

  .jacket-details .item__product-choose-size label {
    margin: 0 5px 0 0;
  }

  .jacket-details .item__product-choose-size label,
  .jacket-details .item__product-choose-size input {
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
  }

  .jacket-details .item__info {
    grid-column: 2/3;
  }

  .jacket-details .item button {
    grid-column: 2/3;
    margin: 0 0 10px 0;
    max-width: 200px;
  }

  /* cart-payment */
  .cart-payment {
    width: 100%;
  }

  .cart-payment form {
    grid-template-rows: auto auto auto auto;
  } 

  .payment-method label {
    flex-basis: 100%;
  }
}

@media (min-width: 500px) {
  .choose-jacket__item {
    width: 70%;
    margin: 0 auto;
  }

  .choose-jacket__name {
    margin-top: -35px;
    font-size: 1.3rem;
  }

  .choose-jacket__menu li:nth-of-type(2),
  .choose-jacket__menu li:nth-of-type(3) {
    display: flex;
  }

  /* log-in, sign-up */

  .log-in-form div,
  .sign-up-form div {
    flex-direction: row;
  }

  .log-in-form div label,
  .sign-up-form div label {
    width: 30%;
  }

  .log-in-form div input {
    width: 64%;
  }

  /* cart */
  .cart thead tr,
  .cart tbody tr {
    font-size: 0.9rem;
    grid-template-columns: 20px 1fr repeat(3, 1fr) 35px; 
  }

  .cart tbody td:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .cart tbody td:nth-of-type(2) img {
    display: block;
    width: 40px;
    grid-row: 1/2;
  }

  .buttons .btn {
    font-size: 0.8rem;
  }

  /* empty-cart */
  .cart-empty tbody tr i {
    display: inline-block;
  }

  /* cart-payment */
  .cart-payment .payment-method {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
  }

  .cart-payment .payment-method div {
    gap: 5px;
    width: 100%;
  }
}

@media (min-width: 600px) {
  nav {
    font-size: 0.9rem;
  }

  .main-nav label {
    display: none;
  }

  .main-nav .main-nav__list {
    position: static;
    display: flex;
    justify-content: space-evenly;
    flex: 5;
    order: 1;
  }

  .main-nav__list li {
    border-bottom: none;
  }

  .main-nav__list .active::after {
    display: block;
  }

  .main-nav__list a {
    padding: 0;
    transition: .2s;
  }

  .main-nav__list a:hover {
    color: var(--tertiary-color);
  }
  
  .main-title {
    display: block;
    line-height: 140%;
  }

  .circle-big {
    width: 250px;
    height: 250px;
  }

  .circle-small {
    font-size: 2.4rem;
  }

  .info-text figure {
    display: block;
    width: 200px;
    float: left;
    margin: 20px 20px 0 0;
  }

  .info-text p {
    font-size: 1.6rem;
  }

  .social-media i {
    font-size: 1.9rem;
    margin: 0 16px;
  }

  .sub-title span {
    display: inline;
  }

  .choose-jacket__products {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 0;
  }

  .choose-jacket__name {
    font-size: 1rem;
  }

  .about .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .about p {
    font-size: 1.4rem;
  }

  /* contact - media */
  .contact {
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
  }

  .contact-adress {
    text-align: left;
  }

  .contact-adress .sub-title {
    margin-top: 0;
    padding-top: 0;
  }

  /* about */
  .link-to-jackets .circle-big {
    top: 70%;
    width: 250px;
    height: 250px;
  }

  .link-to-jackets .circle {
    border-width: 35px;
  }

  /* log-in, sign-up */
  .log-in .container,
  .sign-up .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .log-in-remaining,
  .sign-up-remaining {
    justify-content: center; 
    text-align: left;
    font-size: 1rem;
    order: 1;
    grid-column: -1/1;
  }

  .log-in-remaining div,
  .sign-up-remaining div {
    display: flex;
    align-items: center;
  }

  .log-in-remaining img,
  .sign-up-remaining img {
    margin-right: 20px;
  }

  .log-in .link-to-jackets,
  .sign-up .link-to-jackets {
    margin-top: 0;
  }

  .log-in .circle-big,
  .sign-up .circle-big {
    width: 220px;
    height: 220px;
    top: 39%;
  }

  .log-in .circle-small,
  .sign-up .circle-small {
    font-size: 2rem;
  }

  /* logged */
  .logged .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .logged p {
    font-size: 1.4rem;
  }

   /* jacket details */
   .choose-jacket__menu-active a {
    font-size: 1.2rem;
  }

  .jacket-details .item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .jacket-details .item__picture {
    min-width: 210px;
  }

  .jacket-details .item__product-description > * {
    text-align: left;
  }

  .jacket-details .item__product-description {
    height: 100%;
  }

  .jacket-details .item__product-size {
    margin-top: 70px;
  }

  .jacket-details .item__info {
    grid-column: 3/4;
    align-self: baseline;
  }

  .jacket-details .rating {
    margin-left: -20px;
  }

  .jacket-details .reviews > li {
    text-indent: -20px;
  }

  .jacket-details .item button {
    grid-column: 3/4;
  }

  /* cart */
  .cart thead tr,
  .cart tbody tr {
    font-size: 1.1rem; 
    grid-template-columns: 20px 1fr repeat(3, 1fr) 50px;
  }

  .cart tbody td:nth-of-type(2) img {
    width: 50px;  
  }

  .cart tfoot tr td:nth-last-child(1) {
    padding-right: 30px;
  }

  .buttons {
    grid-column: 1/3;
  }

  /* cart-payment */
  .cart-payment form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .payment-method {
    grid-column: -1/1;
  }

  .card-data {
    height: 350px;
  }
}

@media (min-width: 700px) {
  nav {
    font-size: 1rem;
  }

  .main-title {
    font-size: 3.5rem;
  }

  .circle {
    border-width: 40px;
  }

  .circle-big {
    width: 350px;
    height: 350px;
  }

  .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .choose-jacket .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item__picture img {
    width: 100%;
    height: 100%;
  }

  .btn__show-item {
    font-size: 1rem;
  }

  .choose-jacket__name {
    margin-top: -20px;
    font-size: 1.1rem;
  }

   /* log-in, sign-up */
   .log-in .circle-big,
   .sign-up .circle-big {
    top: 45%;
  }

  .log-in-form div label,
  .log-in-remaining a,
  .log-in-remaining p,
  .log-in .registration a,
  .sign-up-form div label,
  .sign-up-remaining a,
  .sign-up-remaining p,
  .sign-up .registration a {
    font-size: 1.4rem;
  }

  .log-in-form div input,
  .sign-up div input {
    font-size: 1rem;
  }

  /* jacket-details */
  .jacket-details .item {
    grid-template-columns: minmax(0, 230px) minmax(0, 700px) minmax(0, 400px);
  }

  .jacket-details .item__picture {
    padding: 20px 0;
  }

  .jacket-details .item__product-choose-size label,
  .jacket-details .item__product-choose-size input {
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
  }

  .jacket-details .rating {
    margin-left: 0;
  }

  .jacket-details .reviews > li {
    text-indent: -5px;
  }

  /* cart */
  .cart thead tr,
  .cart tbody tr {
  display: grid;
  grid-template-columns: 20px 1fr repeat(3, 1fr) 100px;
  }

  .cart tbody td:nth-of-type(2) img {
   width: 70px;
  }

  .cart tbody td:nth-of-type(3) a,
  .cart tbody td:nth-of-type(6) {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .cart tfoot tr td:nth-last-child(1) {
    padding-right: 60px;
  }
}

@media (min-width: 800px) {
  header img {
    max-width: 200px;
  }

  nav {
    font-size: 1.2rem;
  }

  .login-container {
    margin: 0 40px;
  }

  .login-container img {
    display: block;
    width: 20px;
    border-radius: 5px;
    margin-left: 10px;
  }

  .circle {
    border-width: 30px;
  }

  .circle-big {
    width: 290px;
    height: 290px;
  }

  .circle-small {
    font-size: 2.2rem;
  }

  .social-media i:hover {
    color: var(--tertiary-color);
    transform: scale(1.2);
  }
  .choose-jacket .products-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .btn__show-item {
    padding: 3px 15px;
  }

  .link-to-jackets .circle-big {
    width: 300px;
    height: 300px;
  }

  .link-to-jackets .circle {
    border-width: 40px;
  }

   /* log-in, sign-up */
   .log-in .circle-big,
   .sign-up .circle-big {
    width: 250px;
    height: 250px;
  }

  /* cart */
  .cart thead tr,
  .cart tbody tr,
  .cart td,
  .cart tr a {
    font-size: 1.4rem;
  }

  .card-data,
  .owner-data {
    width: 80%;
    margin-top: 0;
  }

  .owner-data {
    margin-right: 0;
  }

  .card-data {
    margin-left: 0;
  }
}

@media (min-width: 900px) {
  .main-title {
    font-size: 4rem;
  }
}

@media (min-width: 1000px) {
  .welcome {
    min-height: 80vh;
  }

  .main-title span {
    margin: 0 10px;
    display: inline;
  }

  .circle {
    border-width: 35px;
  }

  .circle-big {
    top: 65%;
    width: 320px;
    height: 320px;
  }

  .circle-small {
    font-size: 2.4rem;
  }

  .choose-jacket__name {
    font-size: 1.5rem;
  }

  /* cart */
  .cart tbody td:nth-of-type(2) img {
    width: 80px;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  .main-title {
    font-size: 6rem;
  }

  .main-title span {
    display: none;
  }

  .circle {
    border-width: 40px;
  }

  .circle-big {
    width: 380px;
    height: 380px;
  }
}

@media (orientation: portrait) and (min-height: 1024px) {
  .choose-jacket__products {
    grid-template-columns: 1fr;
  }

  .choose-jacket__item {
    width: 50%;
    margin: auto;
  }

  .choose-jacket__name {
    margin-top: -30px;
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .circle-small {
    font-size: 2.8rem;
  }

  .choose-jacket__item {
    width: 35%;
  }
}

@media (orientation: landscape) and (max-height: 420px) {
  .welcome::after {
    height: 80%;
    top: 10%;
    bottom: 10%;
  }

  .home-page .circle {
    border: none;
    border-radius: 0;
  }

  .home-page .circle-big {
    width: auto;
    height: auto;   
  }

  .home-page .circle-small {
    font-size: 1.1rem;
    padding: 9px 20px;
    border: 5px solid;
  }
}

@media (orientation: landscape) and (min-height: 421px) and (max-height: 540px) {
  .home-page .circle-big {
    width: 230px;
    height: 230px;
  }

  .home-page .circle {
    border-width: 25px;
    font-size: 1.5rem;
  }
}
