/* nav */
.main-nav {
  background-color: var(--primary-color);
  font-size: 1.0rem;
  width: 100%;
}

.main-nav__container {
  display: flex;
  align-items: center;
}

.main-nav__container>* {
  display: flex;
}

#hamburger-menu,
.main-nav__list,
.login-container img {
  display: none;
}

#hamburger-menu:checked~.main-nav__list {
  display: block;
}

.main-nav__list {
  background-color: var(--primary-color);
  padding: 0;
  position: fixed;
  top: 182px;
  left: 0;
  z-index: 999;
  flex: 1;
  text-transform: uppercase;
  text-align: left;
}

.main-nav__list li {
  border-bottom: 1px solid var(--secondary-color);
  position: relative;
  top: 0;
  left: 0;
}

.main-nav__list li:nth-last-of-type(1) {
  border-bottom: none;
}

.main-nav__list a {
  color: var(--secondary-color);
  padding: 10px 20px;
}

a.active,
.shopping-cart-active i {
  color: var(--tertiary-color);
}

.main-nav__list .active::after {
  background-color: var(--tertiary-color);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  display: none;
}

.main-nav label {
  order: 0;
  flex: 1;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 1.7rem;
}

.search-container {
  order: 1;
  flex: 2;
  background-color: var(--secondary-color);
  border-radius: 5px;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.search-container input::placeholder {
  color: var(--primary-color);
}

.search-container input {
  width: 75%;
}

.search-container input,
.search-container i,
.btn_log-in[type="submit"] {
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 0.7rem;
  padding: 0;
  cursor: pointer;
}

.search-container button[type="submit"] {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  font-size: inherit;
  border: none;
}

.btn_log-in[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 80px;
  transition: .2s;
  cursor: pointer;
  font-weight: normal;
}

.login-container .login-active,
.btn_log-in[type="submit"]:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.search-container,
.login-container {
  height: 40px;
}


.login-container {
  order: 2;
  flex: 1;
  margin: 0 10px;
  justify-content: center;
}

.shopping-cart {
  order: 3;
  flex: 1;
  color: var(--secondary-color);
  font-size: 2.0rem;
  position: relative;
}

.item-quantity {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  left: 4px;
  width: 30px;
  height: 30px;
  padding: 15px;
  font-size: 1.3rem;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: 1px solid;
  border-radius: 50%;
  z-index: 999999999;
}

.item-in-cart {
  color: var(--tertiary-color);
}

.shopping-cart i {
  transition: .2s;
}