.cart h1 {
  text-align: left;
  text-transform: uppercase;
  font-size: 1rem;
}
.cart h1 span {
  text-align: left;
  position: relative;
}

.cart h1 span:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
}

table {
  margin: 50px 0 0 0;
  display: grid;
}

thead,
tbody {
  margin-bottom: 10px;
}

tfoot {
  margin-bottom: 30px;
}

thead tr,
tbody tr {
  display: grid;
  grid-template-columns: 20px 1fr repeat(3, 1fr) 30px;
  align-items: center;
  gap: 10px;
  font-size: 0.6rem;
  border: 1px solid; 
  padding: 10px 5px;
}

tfoot tr {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  border: 1px solid;
  font-weight: 700; 
}

tfoot tr td:first-child {
  padding-right: 20px;
}

tfoot tr td:nth-last-child(1) {
  padding-right: 10px;
}

table th,
table td {
  text-align: left;
}

table td:nth-of-type(1) {
  text-align: center;
}

.cart tbody td:nth-of-type(2) img {
  display: none;
  width: 50px;
  grid-row: 1/2;
}

.cart tbody td:nth-of-type(2) a {
  justify-self: start;
  align-self: center;
  color: var(--primary-color);
}

.cart tbody td:nth-of-type(3) a,
.cart tbody td:nth-of-type(6) {
  width: 30px;
  height: 30px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.cart tbody td:nth-of-type(6) {
  background-color: var(--tertiary-color);
}

.buttons {
  margin: 0 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.buttons .btn {
  padding: 3px 30px;
  font-size: 0.7rem;
}

.buttons ul .btn-back {
  background-color: var(--secondary-color);
}