.cart-payment {
  width: 90%;
  margin: 0 auto;
  font-family: 'Palanquin', sans-serif;
}

.cart-payment form {
  display: grid;
}

fieldset {
  border: none;
}

.cart-payment h1 {
  margin-bottom: 20px;
}



.payment-method,
.card-data,
.owner-data {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  margin: 20px auto;
}

.card-data,
.owner-data {
  text-align: left;
}

.payment-method input {
  display: none;
}

.payment-method div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-method label,
.card-data input,
.owner-data input {
  background-color: 	hsla(192, 73%, 15%, .2);
  padding: 5px 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);;
  width: 100%;
  height: 35px;
  margin: 5px auto;
  border: none;
  font-size: .8rem;
}

.card-data input,
.owner-data input {
  margin-bottom: 20px;
}

.card-data label:nth-child(1),
.owner-data label:nth-child(1) {
  margin-top: 20px;
}

.card-data input[type="date"] {
  font-family: 'Palanquin', sans-serif;
  color: var(--primary-color);
  cursor: pointer;
}

.payment-method label img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

