/* about */
.about .container > * {
  color: var(--primary-color);
}

.about .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(0, 270px);
}

.about .top-title, 
.about p {
  text-align: left;
}

.about p {
  font-size: 1.2rem;
}

.link-to-jackets .circle-big {
  border: none;
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
}

